statemachin.asl.json
{
    "Comment": "Amazon state language definition",
    "StartAt": "InitState",
    "States": {
      "InitState": {
        "Type": "Pass",
        "Next": "Request Method"
      },
      "Request Method": {
        "Type" : "Choice",
        "Choices": [
          {
            "Variable": "$.requestContext.httpMethod",
            "StringEquals": "GET",
            "Next": "Get Weather Item"
          }
        ]
      },
      "Get Weather Item": {
        "Type": "Task",
        "Resource": "arn:aws:states:::dynamodb:putItem",
        "Parameters": {
          "TableName": "InventoryUpdates",
          "IndexName": "product-index"
        },
        "Retry": [
          {
            "ErrorEquals": ["States.All"],
            "IntervalSeconds": 1,
            "MaxAttempts": 2
          }
        ],
        "Catch": [{
          "ErrorEquals": ["States.All"],
          "Next": "Get Failed"
        }],
        "Next": "Get Success"
      },
      "Get Success":{
        "Type": "Pass",
        "End": true
      },
      "Get Failed":{
        "Type": "Fail",
        "Error": "Item Create Fail",
        "Cause": "Dynamodb error"
      }
    }
  }
